<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Confirmation</title>
</head>
<body>
    <h1>Applicants Data</h1>
    <br>
    <p><b>Name:</b> <%- name %></p>
    <p><b>Email Address:</b> <%- email %></p>

    <p><b>GPA:</b> <%- gpa%></p> 
    <p><b>Background Information:</b> </p>
    <p><%- info%></p>
    <hr>
    <p><b>Task completed at <%- time%></b></p>
    <hr>

    <a href="/">HOME</a>

    
</body>
</html>